<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Admin Page </title>
</head>
<body>
    <h1> Admin Page </h1>
    <a href="registrants.ejs"> Access Registrants Page </a>
    <a href="users.ejs"> Access Users Page </a>
</body>

</html>