<!DOCTYPE html>
<html lang=en>
	<head>
        <link rel="stylesheet" href="media/style.css">
		<title>Reset Password</title>
    Password Reset Page
	<body>
        <div class="container"> 
      <label for="email"><b>Email: </b></label>
      <input type="email" placeholder="Enter Email" name="email" required>
      <br>
      <label for="psw"><b>Enter New Password: </b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <br> 
      <label for="repeat"><b>Enter Repeat: </b></label>
      <input type="password" placeholder="Enter Password" name="repeat" required>
      <br>
      <button type="submit"></button>
      <label>
        </div>

        <a href="/login">Click Here to Return to Log-In</a>
	  </body>
      </head>
       </html>