<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> Profile Page </title>
<body>
    <h1> Welcome to your Sobie Profile </h1>
    <a href="Registration.ejs">Access Registration Page</a>
    <a href="Research.ejs">Access Research Page</a>
</body>
</head>
</html>