<!DOCTYPE html> 
<html> 
<head> 
    <meta charset="UTF-8">
    <title> Registrants Page (Admin Exclusive) </title>
<body> 
    <h1> Registrants Page </h1> 
    <a href="/admin">Return to Admin Page</a>    
</body>    
</head>
</html>