<!DOCTYPE html> 
<html> 
<head> 
    <link rel="stylesheet" href="media/style.css">
    <meta charset="UTF-8">
<title> Research Page </title>
</head>
<body>  
    <h1> Research Page </h1>
    <h2> Submit Research </h2>
    <h3> Manage Research </h3>
    <h4> Ask for Help </h4>
    <h5> View Research of Others </h5>
    <a href="/Profile">Return to Profile Page</a>
</body>      
</html>