<!DOCTYPE html> 
<html> 
<head> 
    <meta charset="UTF-8">
<title> Users Page </title>
</head>
<body>
    <h1> Users Page (Admin Exclusive) </h1> 
    <h2> Current users signed up </h2>  
    <a href="admin.ejs">Return to Admin Page</a>  
</body>      
</html>